In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [2]:
spark = (SparkSession.builder.appName("PySparkDFPractice").getOrCreate())

In [3]:
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

In [4]:
type(data)

list

In [5]:
# StructType is a collection of StructFields that define the column name, column data type
# and a boolean value to specify if the field can be nullable or not

schema = StructType([
    StructField("firstName", StringType(), True),
    StructField("middleName", StringType(), True),
    StructField("lastName", StringType(), True),
    StructField("id", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
])

In [6]:
df = spark.createDataFrame(data=data, schema=schema)
df.printSchema()

root
 |-- firstName: string (nullable = true)
 |-- middleName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [7]:
df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstName|middleName|lastName|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [8]:
file_path = "./test_data/fire-incidents.csv"
file_df = (spark.read.format("csv")
          .option("header", True)
          .option("inferSchema", True)
          .load(file_path))

In [9]:
# referred to as a Projection after an action is used
file_df.select("IncidentNumber", "IncidentDate", "City").show(10)

+--------------+-------------------+-------------+
|IncidentNumber|       IncidentDate|         City|
+--------------+-------------------+-------------+
|      20104668|2020-09-11 00:00:00|San Francisco|
|      20104708|2020-09-11 00:00:00|San Francisco|
|      20104648|2020-09-10 00:00:00|San Francisco|
|      20104598|2020-09-10 00:00:00|San Francisco|
|      20104575|2020-09-10 00:00:00|San Francisco|
|      20104477|2020-09-10 00:00:00|San Francisco|
|      20104443|2020-09-10 00:00:00|San Francisco|
|      20104605|2020-09-10 00:00:00|San Francisco|
|      20104474|2020-09-10 00:00:00|San Francisco|
|      20104652|2020-09-10 00:00:00|San Francisco|
+--------------+-------------------+-------------+
only showing top 10 rows

In [10]:
file_df.printSchema()

root
 |-- IncidentNumber: integer (nullable = true)
 |-- ExposureNumber: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Address: string (nullable = true)
 |-- IncidentDate: timestamp (nullable = true)
 |-- CallNumber: integer (nullable = true)
 |-- AlarmDtTm: timestamp (nullable = true)
 |-- ArrivalDtTm: timestamp (nullable = true)
 |-- CloseDtTm: timestamp (nullable = true)
 |-- City: string (nullable = true)
 |-- ZIPCode: string (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- SuppressionUnits: integer (nullable = true)
 |-- SuppressionPersonnel: integer (nullable = true)
 |-- EMSUnits: integer (nullable = true)
 |-- EMSPersonnel: integer (nullable = true)
 |-- OtherUnits: integer (nullable = true)
 |-- OtherPersonnel: integer (nullable = true)
 |-- FirstUnitOnScene: string (nullable = true)
 |-- EstimatedPropertyLoss: integer (nullable = true)
 |-- EstimatedContentsLoss: double (nullable = true)
 |-- FireFatalities: integer (nullable = true)
 |-- FireInjuries: integer (nullable = true)
 |-- CivilianFatalities: integer (nullable = true)
 |-- CivilianInjuries: integer (nullable = true)
 |-- NumberofAlarms: integer (nullable = true)
 |-- PrimarySituation: string (nullable = true)
 |-- MutualAid: string (nullable = true)
 |-- ActionTakenPrimary: string (nullable = true)
 |-- ActionTakenSecondary: string (nullable = true)
 |-- ActionTakenOther: string (nullable = true)
 |-- DetectorAlertedOccupants: string (nullable = true)
 |-- PropertyUse: string (nullable = true)
 |-- AreaofFireOrigin: string (nullable = true)
 |-- IgnitionCause: string (nullable = true)
 |-- IgnitionFactorPrimary: string (nullable = true)
 |-- IgnitionFactorSecondary: string (nullable = true)
 |-- HeatSource: string (nullable = true)
 |-- ItemFirstIgnited: string (nullable = true)
 |-- HumanFactorsAssociatedwithIgnition: string (nullable = true)
 |-- StructureType: string (nullable = true)
 |-- StructureStatus: string (nullable = true)
 |-- FloorofFireOrigin: integer (nullable = true)
 |-- FireSpread: string (nullable = true)
 |-- NoFlameSpead: string (nullable = true)
 |-- Numberoffloorswithminimumdamage: integer (nullable = true)
 |-- Numberoffloorswithsignificantdamage: integer (nullable = true)
 |-- Numberoffloorswithheavydamage: integer (nullable = true)
 |-- Numberoffloorswithextremedamage: integer (nullable = true)
 |-- DetectorsPresent: string (nullable = true)
 |-- DetectorType: string (nullable = true)
 |-- DetectorOperation: string (nullable = true)
 |-- DetectorEffectiveness: string (nullable = true)
 |-- DetectorFailureReason: string (nullable = true)
 |-- AutomaticExtinguishingSystemPresent: string (nullable = true)
 |-- AutomaticExtinguishingSytemType: string (nullable = true)
 |-- AutomaticExtinguishingSytemPerfomance: string (nullable = true)
 |-- AutomaticExtinguishingSytemFailureReason: string (nullable = true)
 |-- NumberofSprinklerHeadsOperating: integer (nullable = true)
 |-- SupervisorDistrict: integer (nullable = true)
 |-- AnalysisNeighborhood: string (nullable = true)
 |-- point: string (nullable = true)
 |-- NeighborhoodsOld: integer (nullable = true)
 |-- ZipCodes: integer (nullable = true)
 |-- FirePreventionDistricts: integer (nullable = true)
 |-- PoliceDistricts: integer (nullable = true)
 |-- SupervisorDistricts: integer (nullable = true)
 |-- CivicCenterHarmReductionProjectBoundary: integer (nullable = true)
 |-- 2017FixItZones: integer (nullable = true)
 |-- HSOCZones: integer (nullable = true)
 |-- CentralMarketTenderloinBoundary: integer (nullable = true)
 |-- CentralMarketTenderloinBoundaryPolygonUpdated: integer (nullable = true)
 |-- HSOCZonesasof20180605: integer (nullable = true)
 |-- Neighborhoods: integer (nullable = true)
 |-- SFFindNeighborhoods: integer (nullable = true)
 |-- CurrentPoliceDistricts: integer (nullable = true)
 |-- CurrentSupervisorDistricts: integer (nullable = true)
 |-- AnalysisNeighborhoods: integer (nullable = true)

In [11]:
file_df.columns

['IncidentNumber',
 'ExposureNumber',
 'ID',
 'Address',
 'IncidentDate',
 'CallNumber',
 'AlarmDtTm',
 'ArrivalDtTm',
 'CloseDtTm',
 'City',
 'ZIPCode',
 'Battalion',
 'StationArea',
 'Box',
 'SuppressionUnits',
 'SuppressionPersonnel',
 'EMSUnits',
 'EMSPersonnel',
 'OtherUnits',
 'OtherPersonnel',
 'FirstUnitOnScene',
 'EstimatedPropertyLoss',
 'EstimatedContentsLoss',
 'FireFatalities',
 'FireInjuries',
 'CivilianFatalities',
 'CivilianInjuries',
 'NumberofAlarms',
 'PrimarySituation',
 'MutualAid',
 'ActionTakenPrimary',
 'ActionTakenSecondary',
 'ActionTakenOther',
 'DetectorAlertedOccupants',
 'PropertyUse',
 'AreaofFireOrigin',
 'IgnitionCause',
 'IgnitionFactorPrimary',
 'IgnitionFactorSecondary',
 'HeatSource',
 'ItemFirstIgnited',
 'HumanFactorsAssociatedwithIgnition',
 'StructureType',
 'StructureStatus',
 'FloorofFireOrigin',
 'FireSpread',
 'NoFlameSpead',
 'Numberoffloorswithminimumdamage',
 'Numberoffloorswithsignificantdamage',
 'Numberoffloorswithheavydamage',
 'Numberoffloorswithextremedamage',
 'DetectorsPresent',
 'DetectorType',
 'DetectorOperation',
 'DetectorEffectiveness',
 'DetectorFailureReason',
 'AutomaticExtinguishingSystemPresent',
 'AutomaticExtinguishingSytemType',
 'AutomaticExtinguishingSytemPerfomance',
 'AutomaticExtinguishingSytemFailureReason',
 'NumberofSprinklerHeadsOperating',
 'SupervisorDistrict',
 'AnalysisNeighborhood',
 'point',
 'NeighborhoodsOld',
 'ZipCodes',
 'FirePreventionDistricts',
 'PoliceDistricts',
 'SupervisorDistricts',
 'CivicCenterHarmReductionProjectBoundary',
 '2017FixItZones',
 'HSOCZones',
 'CentralMarketTenderloinBoundary',
 'CentralMarketTenderloinBoundaryPolygonUpdated',
 'HSOCZonesasof20180605',
 'Neighborhoods',
 'SFFindNeighborhoods',
 'CurrentPoliceDistricts',
 'CurrentSupervisorDistricts',
 'AnalysisNeighborhoods']

In [12]:
output_path = "./data/output/fireincidents"
file_df.write.format("parquet").mode("overwrite").save(output_path)

# Working with Structured Operations

### Reading a JSON File

In [13]:
from pyspark.sql.types import ArrayType, FloatType, DateType, BooleanType

In [14]:
persons_schema = StructType([
    StructField("id", IntegerType(), True), #third param is nullable
    StructField("first_name", StringType(), True), 
    StructField("last_name", StringType(), True), 
    StructField("fav_movies", ArrayType(StringType()), True), 
    StructField("salary", FloatType(), True), 
    StructField("image_url", StringType(), True),
    StructField("date_of_birth", DateType(), True),
    StructField("active", BooleanType(), True)
    
])

In [15]:
json_file_path = './data/persons.json'
persons_df = spark.read.json(json_file_path, persons_schema, multiLine = "True") #multiLine is to specify an entry has multiple lines

In [16]:
persons_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- fav_movies: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- salary: float (nullable = true)
 |-- image_url: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- active: boolean (nullable = true)

In [17]:
persons_df.show(10, truncate=False)

+---+----------+---------+-------------------------------------------------------------+-------+-----------------------------------------------+-------------+------+
|id |first_name|last_name|fav_movies                                                   |salary |image_url                                      |date_of_birth|active|
+---+----------+---------+-------------------------------------------------------------+-------+-----------------------------------------------+-------------+------+
|1  |Drucy     |Poppy    |[I giorni contati]                                           |1463.36|http://dummyimage.com/126x166.png/cc0000/ffffff|1991-02-16   |true  |
|2  |Emelyne   |Blaza    |[Musketeer, The, Topralli]                                   |3006.04|http://dummyimage.com/158x106.bmp/cc0000/ffffff|1991-11-02   |false |
|3  |Max       |Rettie   |[The Forgotten Space, Make It Happen]                        |1422.88|http://dummyimage.com/237x140.jpg/ff4444/ffffff|1990-03-03   |false |
|4  |Ilario    |Kean     |[Up Close and Personal]                                      |3561.36|http://dummyimage.com/207x121.jpg/cc0000/ffffff|1987-06-09   |true  |
|5  |Toddy     |Drexel   |[Walk in the Clouds, A]                                      |4934.87|http://dummyimage.com/116x202.png/cc0000/ffffff|1992-10-28   |true  |
|6  |Oswald    |Petrolli |[Wing and the Thigh, The (L'aile ou la cuisse)]              |1153.23|http://dummyimage.com/137x172.jpg/5fa2dd/ffffff|1986-09-02   |false |
|7  |Adrian    |Clarey   |[Walking Tall, Paradise, Hawaiian Style]                     |1044.73|http://dummyimage.com/244x218.bmp/cc0000/ffffff|1971-08-24   |false |
|8  |Dominica  |Goodnow  |[Hearts Divided]                                             |1147.76|http://dummyimage.com/112x203.jpg/dddddd/000000|1973-08-27   |false |
|9  |Emory     |Slocomb  |[Snake and Crane Arts of Shaolin (She hao ba bu), Mala Noche]|1082.11|http://dummyimage.com/138x226.jpg/cc0000/ffffff|1974-06-08   |true  |
|10 |Jeremias  |Bode     |[Farewell to Arms, A]                                        |3472.63|http://dummyimage.com/243x108.bmp/dddddd/000000|1997-08-02   |true  |
+---+----------+---------+-------------------------------------------------------------+-------+-----------------------------------------------+-------------+------+
only showing top 10 rows

## Columns and Expressions

In [18]:
from pyspark.sql.functions import col, expr

In [19]:
persons_df.select(col("first_name"), col("last_name"), col("date_of_birth")).show(5)

+----------+---------+-------------+
|first_name|last_name|date_of_birth|
+----------+---------+-------------+
|     Drucy|    Poppy|   1991-02-16|
|   Emelyne|    Blaza|   1991-11-02|
|       Max|   Rettie|   1990-03-03|
|    Ilario|     Kean|   1987-06-09|
|     Toddy|   Drexel|   1992-10-28|
+----------+---------+-------------+
only showing top 5 rows

In [20]:
persons_df.select(expr("first_name"), expr("last_name"), expr("date_of_birth")).show(5)

+----------+---------+-------------+
|first_name|last_name|date_of_birth|
+----------+---------+-------------+
|     Drucy|    Poppy|   1991-02-16|
|   Emelyne|    Blaza|   1991-11-02|
|       Max|   Rettie|   1990-03-03|
|    Ilario|     Kean|   1987-06-09|
|     Toddy|   Drexel|   1992-10-28|
+----------+---------+-------------+
only showing top 5 rows

In [21]:
# the above appear to do the same thing
from pyspark.sql.functions import concat_ws

In [22]:
#Col Example
(persons_df.select(concat_ws(' ', col("first_name"), col("last_name"))
                   .alias("full_name"), 
                   col("salary"),(col("salary") * 0.10 + col("salary"))
                   .alias("salary_increase"))).show(10)

+----------------+-------+------------------+
|       full_name| salary|   salary_increase|
+----------------+-------+------------------+
|     Drucy Poppy|1463.36|1609.6959838867188|
|   Emelyne Blaza|3006.04|  3306.64404296875|
|      Max Rettie|1422.88|1565.1680053710938|
|     Ilario Kean|3561.36|3917.4961181640624|
|    Toddy Drexel|4934.87|  5428.35712890625|
| Oswald Petrolli|1153.23| 1268.552978515625|
|   Adrian Clarey|1044.73| 1149.202978515625|
|Dominica Goodnow|1147.76|1262.5360107421875|
|   Emory Slocomb|1082.11|1190.3209838867188|
|   Jeremias Bode|3472.63|  3819.89287109375|
+----------------+-------+------------------+
only showing top 10 rows

In [23]:
#Expr Example - main diff is you can assign a string expression within the expression function
# to perform explicit calculations
(persons_df.select(concat_ws(' ', col("first_name"), col("last_name"))
                   .alias("full_name"), 
                   col("salary"),expr("salary * 0.10 + salary")
                   .alias("salary_increase"))).show(10)

+----------------+-------+------------------+
|       full_name| salary|   salary_increase|
+----------------+-------+------------------+
|     Drucy Poppy|1463.36|1609.6959838867188|
|   Emelyne Blaza|3006.04|  3306.64404296875|
|      Max Rettie|1422.88|1565.1680053710938|
|     Ilario Kean|3561.36|3917.4961181640624|
|    Toddy Drexel|4934.87|  5428.35712890625|
| Oswald Petrolli|1153.23| 1268.552978515625|
|   Adrian Clarey|1044.73| 1149.202978515625|
|Dominica Goodnow|1147.76|1262.5360107421875|
|   Emory Slocomb|1082.11|1190.3209838867188|
|   Jeremias Bode|3472.63|  3819.89287109375|
+----------------+-------+------------------+
only showing top 10 rows

## Filter and Where Condition

In [24]:
#both expressions produce the same results
persons_df.filter("salary <= 3000").show(10)

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  3|       Max|     Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  6|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 11|   Timothy|     Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
| 12|   Leanora|     Gooder|[It's All About L...|1327.02|http://dummyimage...|   1981-12-17| false|
| 13|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|http://dummyimage...|   1996-03-07| false|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [25]:
persons_df.where("salary <= 3000").show(10)

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  3|       Max|     Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  6|    Oswald|   Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|     Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|    Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 11|   Timothy|     Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
| 12|   Leanora|     Gooder|[It's All About L...|1327.02|http://dummyimage...|   1981-12-17| false|
| 13|  Claiborn|     Denham|[McCullin, Max Pa...|2623.33|http://dummyimage...|   1996-03-07| false|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [26]:
persons_df.where((col("salary") <= 3000) & (col("active") == True)).show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 16|   Margaux| Archbold|[And Now a Word f...|1013.75|http://dummyimage...|   1988-07-29|  true|
| 26|     Clive|      Lax|             [Rabid]|2126.87|http://dummyimage...|   1981-10-26|  true|
| 33|  Sherline|  Primett|   [Jungle Fighters]|2309.39|http://dummyimage...|   1972-07-23|  true|
| 34|     Davis|    Pinks|          [Hounddog]|1337.14|http://dummyimage...|   1989-07-27|  true|
| 37|    Carlen|  Sharply|[Dr. Jekyll and M...|2051.85|http://dummyimage...|   2002-06-01|  true|
| 40|    Jordan|   Lorant|[Shockproof, Bach...|2183.91|http://dummyimage...|   1979-07-29|  true|
| 49| Kendricks|      Kee|   [Flower & Garnet]|2304.39|http://dummyimage...|   1999-11-14|  true|
| 57|   Krystle|  Shovell|[Doomsday, Flight...|2260.76|http://dummyimage...|   1987-09-01|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [27]:
from pyspark.sql.functions import year

In [28]:
persons_df.filter((year("date_of_birth") == 2000) | (year("date_of_birth") == 1989)).show(10)

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 15|    Feodor|Nancekivell|   [Monsoon Wedding]|2218.46|http://dummyimage...|   2000-10-07| false|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|http://dummyimage...|   2000-10-20|  true|
| 32|      Redd|   Akenhead|[Century of the D...| 2470.9|http://dummyimage...|   2000-06-05| false|
| 34|     Davis|      Pinks|          [Hounddog]|1337.14|http://dummyimage...|   1989-07-27|  true|
| 61|    Shanna|    Samples|[Thomas in Love (...| 2703.0|http://dummyimage...|   1989-07-07| false|
| 69|  Annabell|    Doughty|[Entertaining Ang...|2022.57|http://dummyimage...|   2000-09-03|  true|
| 74|     Micky|     Umfrey|[Haunted House, T...|1271.82|http://dummyimage...|   1989-07-04| false|
| 88|     Jobie|    Maughan|[Devils on the Do...| 3899.2|http://dummyimage...|   2000-02-07| false|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+

In [29]:
from pyspark.sql.functions import array_contains

In [30]:
persons_df.where(array_contains(persons_df.fav_movies, "Land of the Lost")).show()

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| 11|   Timothy|   Ervine|[Land of the Lost...|1147.61|http://dummyimage...|   1971-06-02| false|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+

## Distinct, Drop Duplicates, Order By

In [31]:
from pyspark.sql.functions import count, desc

In [32]:
persons_df.select("active").show(10)

+------+
|active|
+------+
|  true|
| false|
| false|
|  true|
|  true|
| false|
| false|
| false|
|  true|
|  true|
+------+
only showing top 10 rows

In [33]:
persons_df.select("active").distinct().show(10)

+------+
|active|
+------+
|  true|
| false|
+------+

In [34]:
(persons_df.select(col("first_name"),
                  year(col("date_of_birth")).alias("year"),
                  col("active"))
                .orderBy("year","first_name")).show(10)

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|    Adrian|1971| false|
|   Feodora|1971|  true|
|       Sky|1971| false|
|   Timothy|1971| false|
|    Lucita|1972|  true|
|      Rodi|1972| false|
|  Sherline|1972|  true|
|     Toddy|1972|  true|
|  Dominica|1973| false|
|    Kelila|1973|  true|
+----------+----+------+
only showing top 10 rows

In [35]:
#drop duplicates
rem_dups = (persons_df.select(col("first_name"),
                  year(col("date_of_birth")).alias("year"),
                  col("active"))
                .dropDuplicates(["year","active"])
                .orderBy("year","first_name")).show(10)

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|    Adrian|1971| false|
|   Feodora|1971|  true|
|      Rodi|1972| false|
|  Sherline|1972|  true|
|  Dominica|1973| false|
|    Kelila|1973|  true|
|   Balduin|1974| false|
|     Emory|1974|  true|
|    Janean|1975|  true|
|       Bev|1976|  true|
+----------+----+------+
only showing top 10 rows

In [36]:
# order by year descending
(persons_df.select(col("first_name"),
                  year(col("date_of_birth")).alias("year"),
                  col("active"))
                .orderBy("year", ascending=False)).show(10)

+----------+----+------+
|first_name|year|active|
+----------+----+------+
|     Daron|2002|  true|
|    Virgie|2002|  true|
|    Carlen|2002|  true|
|   Lorilee|2002| false|
|    Maxine|2001| false|
|    Feodor|2000| false|
|     Kelcy|2000|  true|
|  Annabell|2000|  true|
|      Redd|2000| false|
|     Jobie|2000| false|
+----------+----+------+
only showing top 10 rows

## Rows and Unions

In [37]:
from pyspark.sql import Row

In [38]:
persons_row = Row(101,"Robert","Owens",["Men in Black III","Home Alone"],4300.64,"http://someimage.com","1964-08-14",True)

In [39]:
person_rows_list = [
    Row(102,"Kenny","Bob",["Men in Black III","Home Alone"],4300.64,"http://someimage.com","1964-08-14",True),
    Row(103,"Sara","Devine",["Men in Black III","Home Alone"],4300.64,"http://someimage.com","1964-08-14",True)
]

In [40]:
person_rows_list.append(persons_row)

In [41]:
print(person_rows_list)

[<Row(102, 'Kenny', 'Bob', ['Men in Black III', 'Home Alone'], 4300.64, 'http://someimage.com', '1964-08-14', True)>, <Row(103, 'Sara', 'Devine', ['Men in Black III', 'Home Alone'], 4300.64, 'http://someimage.com', '1964-08-14', True)>, <Row(101, 'Robert', 'Owens', ['Men in Black III', 'Home Alone'], 4300.64, 'http://someimage.com', '1964-08-14', True)>]

In [42]:
new_persons_df = spark.createDataFrame(person_rows_list, ["id","first_name","last_name","fav_movies","salary","img_url","active_ind"])

In [43]:
add_persons_df = persons_df.union(new_persons_df)
add_persons_df.sort(desc("id")).show(10)

+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies|            salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
|103|      Sara|   Devine|[Men in Black III...|           4300.64|http://someimage.com|   1964-08-14|  true|
|102|     Kenny|      Bob|[Men in Black III...|           4300.64|http://someimage.com|   1964-08-14|  true|
|101|    Robert|    Owens|[Men in Black III...|           4300.64|http://someimage.com|   1964-08-14|  true|
|100|    Virgie| Domanski|[Horseman, The, S...| 2165.929931640625|http://dummyimage...|   2002-01-05|  true|
| 99|   Rozalie|   Wannop|[Suddenly, The No...|1259.6400146484375|http://dummyimage...|   1997-03-25| false|
| 98|     Davin|     Labb|[Viva Riva!, Kill...| 1452.739990234375|http://dummyimage...|   1988-01-27|  true|
| 97|      Rodi|   Farnan|[Code, The (Menta...|   2325.8798828125|http://dummyimage...|   1972-01-04| false|
| 96|       Dew| Coopland|              [Rush]|  2725.56005859375|http://dummyimage...|   1986-11-14| false|
| 95|      Cobb|  MacLure|[Storage 24, His ...|1621.1700439453125|http://dummyimage...|   1994-06-28| false|
| 94|    Bennie|   Knight|[House on Carroll...| 2370.239990234375|http://dummyimage...|   1977-08-27| false|
+---+----------+---------+--------------------+------------------+--------------------+-------------+------+
only showing top 10 rows

## Adding, Renaming and Dropping Columns

In [44]:
from pyspark.sql.functions import round

In [45]:
aug_persons_df1 = persons_df.withColumn("salary_incr", expr("salary * 0.10 + salary"))
aug_persons_df1.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|       salary_incr|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|1609.6959838867188|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|  3306.64404296875|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|1565.1680053710938|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|3917.4961181640624|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|  5428.35712890625|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false| 1268.552978515625|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false| 1149.202978515625|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|1262.5360107421875|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|1190.3209838867188|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|  3819.89287109375|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+------------------+
only showing top 10 rows

In [46]:
aug_persons_df1.columns

['id',
 'first_name',
 'last_name',
 'fav_movies',
 'salary',
 'image_url',
 'date_of_birth',
 'active',
 'salary_incr']

In [47]:
aug_persons_df2 = (aug_persons_df1
                   .withColumn("birth_year", year("date_of_birth"))
                   .withColumnRenamed("fav_movies", "movies")
                   .withColumn("salary_x10", round(col("salary_incr"), 2))
                   .drop("salary_incr"))

In [48]:
aug_persons_df2.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+----------+----------+
| id|first_name|last_name|              movies| salary|           image_url|date_of_birth|active|birth_year|salary_x10|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+----------+----------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|      1991|    1609.7|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|      1991|   3306.64|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|      1990|   1565.17|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|      1987|    3917.5|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|      1992|   5428.36|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|      1986|   1268.55|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|      1971|    1149.2|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|      1973|   1262.54|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|      1974|   1190.32|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|      1997|   3819.89|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+----------+----------+
only showing top 10 rows

## Working with Missing or Bad Data

In [49]:
bad_movies_list = [Row(None, None, None),
                   Row(None, None, 2020),
                   Row("John Doe", "Awesome Movie", None),
                   Row(None, "Awesome Movie", 2021),
                   Row("Mary Jane", None, 2019),
                   Row("Vikter Duplaix", "Not another teen movie", 2001)]

In [50]:
bad_movies_list

[<Row(None, None, None)>,
 <Row(None, None, 2020)>,
 <Row('John Doe', 'Awesome Movie', None)>,
 <Row(None, 'Awesome Movie', 2021)>,
 <Row('Mary Jane', None, 2019)>,
 <Row('Vikter Duplaix', 'Not another teen movie', 2001)>]

In [51]:
bad_movies_columns = ["actor_name","movie_title","produced"]

In [52]:
bad_movies_df = spark.createDataFrame(bad_movies_list, schema=bad_movies_columns)

In [53]:
bad_movies_df.show()

+--------------+--------------------+--------+
|    actor_name|         movie_title|produced|
+--------------+--------------------+--------+
|          null|                null|    null|
|          null|                null|    2020|
|      John Doe|       Awesome Movie|    null|
|          null|       Awesome Movie|    2021|
|     Mary Jane|                null|    2019|
|Vikter Duplaix|Not another teen ...|    2001|
+--------------+--------------------+--------+

In [54]:
# using na functinon - null any
bad_movies_df.na.drop().show()

+--------------+--------------------+--------+
|    actor_name|         movie_title|produced|
+--------------+--------------------+--------+
|Vikter Duplaix|Not another teen ...|    2001|
+--------------+--------------------+--------+

In [55]:
bad_movies_df.na.drop("any").show() #does the same thing

+--------------+--------------------+--------+
|    actor_name|         movie_title|produced|
+--------------+--------------------+--------+
|Vikter Duplaix|Not another teen ...|    2001|
+--------------+--------------------+--------+

In [56]:
#drop only row where entire row has nulls
bad_movies_df.na.drop("all").show()

+--------------+--------------------+--------+
|    actor_name|         movie_title|produced|
+--------------+--------------------+--------+
|          null|                null|    2020|
|      John Doe|       Awesome Movie|    null|
|          null|       Awesome Movie|    2021|
|     Mary Jane|                null|    2019|
|Vikter Duplaix|Not another teen ...|    2001|
+--------------+--------------------+--------+

In [57]:
# using a filter to find non null records
bad_movies_df.filter(col("actor_name").isNull() != True).show()

+--------------+--------------------+--------+
|    actor_name|         movie_title|produced|
+--------------+--------------------+--------+
|      John Doe|       Awesome Movie|    null|
|     Mary Jane|                null|    2019|
|Vikter Duplaix|Not another teen ...|    2001|
+--------------+--------------------+--------+

In [58]:
bad_movies_df.filter(col("actor_name").isNull() != False).show()

+----------+-------------+--------+
|actor_name|  movie_title|produced|
+----------+-------------+--------+
|      null|         null|    null|
|      null|         null|    2020|
|      null|Awesome Movie|    2021|
+----------+-------------+--------+

In [59]:
# show statistics in regards to a column
bad_movies_df.describe("produced").show()

+-------+-----------------+
|summary|         produced|
+-------+-----------------+
|  count|                4|
|   mean|          2015.25|
| stddev|9.535023160258536|
|    min|             2001|
|    max|             2021|
+-------+-----------------+

In [60]:
bad_movies_df.describe("actor_name").show()

+-------+--------------+
|summary|    actor_name|
+-------+--------------+
|  count|             3|
|   mean|          null|
| stddev|          null|
|    min|      John Doe|
|    max|Vikter Duplaix|
+-------+--------------+

## User-Defined Functions

In [61]:
from pyspark.sql.functions import udf

In [62]:
students_list = [("Joe", 85),
                ("Jane", 90),
                ("Mary", 55)]

In [63]:
students_columns = ["name","score"]

In [64]:
students_df = spark.createDataFrame(students_list, schema=students_columns)

In [65]:
students_df.show()

+----+-----+
|name|score|
+----+-----+
| Joe|   85|
|Jane|   90|
|Mary|   55|
+----+-----+

In [66]:
def letterGrade(score:int):
    grade = ''
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    else:
        grade = 'F'
    
    return grade

In [67]:
# Creating the spark function
letterGradeUDF = udf(letterGrade)

In [68]:
students_df.select("name","score", letterGradeUDF(col("score"))
                   .alias("grade")).show()

+----+-----+-----+
|name|score|grade|
+----+-----+-----+
| Joe|   85|    B|
|Jane|   90|    A|
|Mary|   55|    F|
+----+-----+-----+

## Aggregations

In [69]:
flight_file = './data/flightdata/flight-summary.csv'
flight_summary_df = (spark.read.format("csv")
                    .option("header", "true")
                    .option("inferSchema", "true")
                           .load(flight_file))

In [70]:
flight_summary_df.count()

4693

In [71]:
flight_summary_df.show(10,False)

+-----------+------------------------------------------------+------------+------------+---------+--------------------------------------------+----------------+----------+-----+
|origin_code|origin_airport                                  |origin_city |origin_state|dest_code|dest_airport                                |dest_city       |dest_state|count|
+-----------+------------------------------------------------+------------+------------+---------+--------------------------------------------+----------------+----------+-----+
|BQN        |Rafael Hernndez Airport                        |Aguadilla   |PR          |MCO      |Orlando International Airport               |Orlando         |FL        |441  |
|PHL        |Philadelphia International Airport              |Philadelphia|PA          |MCO      |Orlando International Airport               |Orlando         |FL        |4869 |
|MCI        |Kansas City International Airport               |Kansas City |MO          |IAH      |George Bush Intercontinental Airport        |Houston         |TX        |1698 |
|SPI        |Abraham Lincoln Capital Airport                 |Springfield |IL          |ORD      |Chicago O'Hare International Airport        |Chicago         |IL        |998  |
|SNA        |John Wayne Airport(Orange County Airport)      |Santa Ana   |CA          |PHX      |Phoenix Sky Harbor International Airport    |Phoenix         |AZ        |3846 |
|LBB        |Lubbock Preston Smith International Airport     |Lubbock     |TX          |DEN      |Denver International Airport                |Denver          |CO        |618  |
|ORD        |Chicago O'Hare International Airport            |Chicago     |IL          |PDX      |Portland International Airport              |Portland        |OR        |2149 |
|EWR        |Newark Liberty International Airport            |Newark      |NJ          |STT      |Cyril E. King Airport                       |Charlotte Amalie|VI        |239  |
|ATL        |Hartsfield-Jackson Atlanta International Airport|Atlanta     |GA          |GSP      |Greenville-Spartanburg International Airport|Greer           |SC        |2470 |
|MCI        |Kansas City International Airport               |Kansas City |MO          |MKE      |General Mitchell International Airport      |Milwaukee       |WI        |612  |
+-----------+------------------------------------------------+------------+------------+---------+--------------------------------------------+----------------+----------+-----+
only showing top 10 rows

In [72]:
flight_summary_df.printSchema()

root
 |-- origin_code: string (nullable = true)
 |-- origin_airport: string (nullable = true)
 |-- origin_city: string (nullable = true)
 |-- origin_state: string (nullable = true)
 |-- dest_code: string (nullable = true)
 |-- dest_airport: string (nullable = true)
 |-- dest_city: string (nullable = true)
 |-- dest_state: string (nullable = true)
 |-- count: integer (nullable = true)

In [73]:
flight_summary_df = flight_summary_df.withColumnRenamed("count","flight_count")

In [74]:
flight_summary_df.show(10,False)

+-----------+------------------------------------------------+------------+------------+---------+--------------------------------------------+----------------+----------+------------+
|origin_code|origin_airport                                  |origin_city |origin_state|dest_code|dest_airport                                |dest_city       |dest_state|flight_count|
+-----------+------------------------------------------------+------------+------------+---------+--------------------------------------------+----------------+----------+------------+
|BQN        |Rafael Hernndez Airport                        |Aguadilla   |PR          |MCO      |Orlando International Airport               |Orlando         |FL        |441         |
|PHL        |Philadelphia International Airport              |Philadelphia|PA          |MCO      |Orlando International Airport               |Orlando         |FL        |4869        |
|MCI        |Kansas City International Airport               |Kansas City |MO          |IAH      |George Bush Intercontinental Airport        |Houston         |TX        |1698        |
|SPI        |Abraham Lincoln Capital Airport                 |Springfield |IL          |ORD      |Chicago O'Hare International Airport        |Chicago         |IL        |998         |
|SNA        |John Wayne Airport(Orange County Airport)      |Santa Ana   |CA          |PHX      |Phoenix Sky Harbor International Airport    |Phoenix         |AZ        |3846        |
|LBB        |Lubbock Preston Smith International Airport     |Lubbock     |TX          |DEN      |Denver International Airport                |Denver          |CO        |618         |
|ORD        |Chicago O'Hare International Airport            |Chicago     |IL          |PDX      |Portland International Airport              |Portland        |OR        |2149        |
|EWR        |Newark Liberty International Airport            |Newark      |NJ          |STT      |Cyril E. King Airport                       |Charlotte Amalie|VI        |239         |
|ATL        |Hartsfield-Jackson Atlanta International Airport|Atlanta     |GA          |GSP      |Greenville-Spartanburg International Airport|Greer           |SC        |2470        |
|MCI        |Kansas City International Airport               |Kansas City |MO          |MKE      |General Mitchell International Airport      |Milwaukee       |WI        |612         |
+-----------+------------------------------------------------+------------+------------+---------+--------------------------------------------+----------------+----------+------------+
only showing top 10 rows

### count(Col) and countDistinct

In [75]:
from pyspark.sql.functions import count, countDistinct

In [76]:
# count excludes counting null values
flight_summary_df.select(count("origin_airport"), count("dest_airport")).show(10)

+---------------------+-------------------+
|count(origin_airport)|count(dest_airport)|
+---------------------+-------------------+
|                 4693|               4693|
+---------------------+-------------------+

In [77]:
bad_movies_df.show()

+--------------+--------------------+--------+
|    actor_name|         movie_title|produced|
+--------------+--------------------+--------+
|          null|                null|    null|
|          null|                null|    2020|
|      John Doe|       Awesome Movie|    null|
|          null|       Awesome Movie|    2021|
|     Mary Jane|                null|    2019|
|Vikter Duplaix|Not another teen ...|    2001|
+--------------+--------------------+--------+

In [78]:
# here we see null values being ignored for the columns aside from an all count
bad_movies_df.select(count("actor_name"), count("movie_title"), count("produced"), count("*")).show()

+-----------------+------------------+---------------+--------+
|count(actor_name)|count(movie_title)|count(produced)|count(1)|
+-----------------+------------------+---------------+--------+
|                3|                 3|              4|       6|
+-----------------+------------------+---------------+--------+

In [79]:
flight_summary_df.select(countDistinct("origin_airport"), countDistinct("dest_airport"), count("*")).show()

+------------------------------+----------------------------+--------+
|count(DISTINCT origin_airport)|count(DISTINCT dest_airport)|count(1)|
+------------------------------+----------------------------+--------+
|                           322|                         322|    4693|
+------------------------------+----------------------------+--------+

### Min, Max, Sum, SumDistinct and Avg

In [81]:
from pyspark.sql.functions import min, max, sum, sumDistinct, avg

In [82]:
flight_summary_df.select(min("flight_count"), max("flight_count")).show()

+-----------------+-----------------+
|min(flight_count)|max(flight_count)|
+-----------------+-----------------+
|                1|            13744|
+-----------------+-----------------+

In [83]:
flight_summary_df.select(sum("flight_count")).show()

+-----------------+
|sum(flight_count)|
+-----------------+
|          5332914|
+-----------------+

In [84]:
students_df.show()

+----+-----+
|name|score|
+----+-----+
| Joe|   85|
|Jane|   90|
|Mary|   55|
+----+-----+

In [85]:
students_df.select(sum("score")).show()

+----------+
|sum(score)|
+----------+
|       230|
+----------+

In [86]:
students_df = students_df.union(students_df)
students_df.show()

+----+-----+
|name|score|
+----+-----+
| Joe|   85|
|Jane|   90|
|Mary|   55|
| Joe|   85|
|Jane|   90|
|Mary|   55|
+----+-----+

In [87]:
students_df.select(sum("score")).show()

+----------+
|sum(score)|
+----------+
|       460|
+----------+

In [88]:
students_df.select(sumDistinct("score")).show()

+-------------------+
|sum(DISTINCT score)|
+-------------------+
|                230|
+-------------------+

In [89]:
flight_summary_df.select(sumDistinct("flight_count")).show()

+--------------------------+
|sum(DISTINCT flight_count)|
+--------------------------+
|                   3612257|
+--------------------------+

In [94]:
flight_summary_df.select(avg("flight_count"), sum("flight_count") / count("flight_count")).show()

+------------------+-----------------------------------------+
| avg(flight_count)|(sum(flight_count) / count(flight_count))|
+------------------+-----------------------------------------+
|1136.3549968037503|                       1136.3549968037503|
+------------------+-----------------------------------------+

### Aggregation with Grouping

In [99]:
flight_summary_df.groupBy("origin_airport").count().orderBy("count", ascending=False).show(5,False)

+------------------------------------------------+-----+
|origin_airport                                  |count|
+------------------------------------------------+-----+
|Hartsfield-Jackson Atlanta International Airport|169  |
|Chicago O'Hare International Airport            |162  |
|Dallas/Fort Worth International Airport         |148  |
|Denver International Airport                    |139  |
|Minneapolis-Saint Paul International Airport    |120  |
+------------------------------------------------+-----+
only showing top 5 rows

In [100]:
# get airports with highest flight counts using max
(flight_summary_df.groupBy("origin_airport")
 .agg(max("flight_count").alias("max_flight_count"))
 .orderBy("max_flight_count", ascending=False)).show(5,False)

+----------------------------------------------------------------------+----------------+
|origin_airport                                                        |max_flight_count|
+----------------------------------------------------------------------+----------------+
|San Francisco International Airport                                   |13744           |
|Los Angeles International Airport                                     |13457           |
|John F. Kennedy International Airport(New York International Airport)|12016           |
|McCarran International Airport                                        |9715            |
|LaGuardia Airport (Marine Air Terminal)                               |9639            |
+----------------------------------------------------------------------+----------------+
only showing top 5 rows

In [102]:
(flight_summary_df.groupBy("origin_state","origin_city")
 .count()
 .where(col("origin_state") == "CA")
 .orderBy("count", ascending=False).show(5,False))

+------------+-------------+-----+
|origin_state|origin_city  |count|
+------------+-------------+-----+
|CA          |San Francisco|80   |
|CA          |Los Angeles  |80   |
|CA          |San Diego    |47   |
|CA          |Oakland      |35   |
|CA          |Sacramento   |27   |
+------------+-------------+-----+
only showing top 5 rows

In [105]:
(flight_summary_df.groupBy("origin_airport")
 .agg(max("flight_count"),
      min("flight_count"),
      sum("flight_count"),
      count("flight_count"))).show(5,False)

+-------------------------------------------------+-----------------+-----------------+-----------------+-------------------+
|origin_airport                                   |max(flight_count)|min(flight_count)|sum(flight_count)|count(flight_count)|
+-------------------------------------------------+-----------------+-----------------+-----------------+-------------------+
|Melbourne International Airport                  |1332             |1332             |1332             |1                  |
|San Diego International Airport(Lindbergh Field)|6942             |4                |70207            |46                 |
|Eppley Airfield                                  |2083             |1                |16753            |21                 |
|Kahului Airport                                  |8313             |67               |20627            |18                 |
|Austin-Bergstrom International Airport           |4674             |8                |42067            |41                 |
+-------------------------------------------------+-----------------+-----------------+-----------------+-------------------+
only showing top 5 rows