In [5]:
from pymysql import *
from sqlalchemy import *

In [8]:
# Using SQLALCHEMY
db_data = 'mysql+pymysql://' + 'admin' + ':' + 'Password1!' + '@' + 'my-db.co9whbkecuet.us-east-1.rds.amazonaws.com' + ':3306/' \
       + 'SALES_DB' + '?charset=utf8mb4'

engine = create_engine(db_data)
#engine.execute("insert into SALES_SUM(SALES_TOTAL) values(4212.0)")
engine.execute("delete from SALES")
engine.execute("delete from SALES_SUM")
result = engine.execute("select * from SALES_SUM")

for row in result:
    print(row)

engine.dispose()

In [ ]:
#Using PYMYSQL
# Connect to RDS
endpoint = 'my-db.co9whbkecuet.us-east-1.rds.amazonaws.com'
username = 'admin'
password = 'Password1!'
database = 'SALES_DB'
connection = pymysql.connect(host=endpoint, user=username, passwd=password, db=database)

In [ ]:
# setup env - create tables
cur = connection.cursor()

# Use all the SQL you like
#cur.execute("CREATE DATABASE IF NOT EXISTS SALES_DB")
#cur.execute("SHOW DATABASES")
#cur.execute("USE SALES_DB")
cur.execute("SHOW TABLES")
cur.execute(" \
                CREATE TABLE IF NOT EXISTS SALES ( \
                ORDER_ID INT(12) NOT NULL, \
                QTY_ORDERED INT(100), \
                PRICE_PER DECIMAL(6,2), \
                SALES DECIMAL(12,2), \
                ORDER_DATE DATE \
                ); \
            ")
cur.execute("DESCRIBE SALES")    

cur.execute("CREATE TABLE IF NOT EXISTS SALES_SUM ( \
    SALES_TOTAL_ID INT AUTO_INCREMENT, \
    SALES_TOTAL DECIMAL(10,2), \
    PRIMARY KEY (SALES_TOTAL_ID) \
    );")

cur.execute("insert into SALES_SUM (SALES_TOTAL) values (4211.20);")

cur.execute("select * from SALES_SUM;")

connection.commit()
# cur.execute("DELETE FROM SALES_SUM")
# connection.commit()
# print all the first cell of all the rows
for row in cur.fetchall():
    print(row)

connection.close()