# Convert Fahrenheit to Degrees Centigrade

In [1]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder.appName("RDDChallenge").getOrCreate())

In [3]:
# create list and load into rdd
temp_list = [59, 57.2, 53.6, 55.4, 51.8, 53.6, 55.4]
temp_rdd = spark.sparkContext.parallelize(temp_list)
temp_rdd.collect()

[59, 57.2, 53.6, 55.4, 51.8, 53.6, 55.4]

In [4]:
def fahrenheitToCentigrade(temperature):
    centigrade = (temperature - 32) * 5/9
    return centigrade

In [7]:
# pass in the function for the mapping
tempFahToCentRDD = temp_rdd.map(fahrenheitToCentigrade)
tempFahToCentRDD.collect()

[15.0, 14.000000000000002, 12.0, 13.0, 10.999999999999998, 12.0, 13.0]

In [8]:
# filter temperatures >= 13
filterTempRDD = tempFahToCentRDD.filter(lambda x: x >= 13)
filterTempRDD.collect()

[15.0, 14.000000000000002, 13.0, 13.0]

# XYZ Research

In [9]:
data2001List = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']
data2002List = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']
data2003List = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

In [10]:
data2001RDD = spark.sparkContext.parallelize(data2001List)
data2002RDD = spark.sparkContext.parallelize(data2002List)
data2003RDD = spark.sparkContext.parallelize(data2003List)

In [22]:
# How many research projects were initiated within the 3 years?
# Use a Union Transformation
# Using distinct to remove duplicates
unionAllRDD = data2001RDD.union(data2002RDD).union(data2003RDD).distinct()
print(unionAllRDD.collect())
print("Research projects initiated over 3 years: ", unionAllRDD.count())

['RIN1', 'RIN11', 'RIN7', 'RIN9', 'RIN12', 'RIN3', 'RIN4', 'RIN10', 'RIN2', 'RIN5', 'RIN8', 'RIN6']
Research projects initiated over 3 years:  12

In [24]:
# How many projects were completed within the first year
# subtract set B (2002) from set A(2001) to show us the answer
firstYearCompletionRDD = data2001RDD.subtract(data2002RDD)
print("Research projects completed in first year: \n", firstYearCompletionRDD.collect())

Research projects completed in first year:
 ['RIN2', 'RIN5', 'RIN6', 'RIN1']

In [25]:
# How many projects were started within the first two years
# Union first two years and subtract the thir
unionTwoYearsRDD = data2001RDD.union(data2002RDD)
unionTwoYearsRDD.collect()

['RIN1',
 'RIN2',
 'RIN3',
 'RIN4',
 'RIN5',
 'RIN6',
 'RIN7',
 'RIN3',
 'RIN4',
 'RIN7',
 'RIN8',
 'RIN9']

In [26]:
unionTwoYearsRDD.subtract(data2003RDD).distinct().collect()

['RIN1', 'RIN7', 'RIN9', 'RIN3', 'RIN2', 'RIN5', 'RIN6']